<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/CORRECTION/EXERCICE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 1

On définit la variable t par le code suivant :

In [1]:
t = [[2,5], [4,3]]

que vaut `len(t)` ?

Vérifier en exécutant la cellule suivante :

In [2]:
print(len(t))

2

#### question 1

Avant d'exécuter la cellule suivante, déterminer ce qui sera affiché... puis vérifier en exécutant la cellule.

In [3]:
for e in t:
    print(e)

[2, 5]
[4, 3]

#### question 2

Avant d'exécuter la cellule suivante, déterminer ce qui sera affiché... puis vérifier en exécutant la cellule.

In [4]:
for e in t:
    for x in e : 
        print(x)

2
5
4
3

#### question 3

Avant d'exécuter la cellule suivante, déterminer ce qui sera affiché... puis vérifier en exécutant la cellule.

In [10]:
for e in t: 
    print('e =', e)
    for x in e :
        print('... x =', x)
        for v in x :  
            print(v)

e = [2, 5]
... x = 2

TypeError: ignored

expliquer le résultat observé

Une boucle `for` permet de parcourir un **tableau** comme `t` ou `e`  mais pas un entier.

Ici, x est de type `int` donc il n'est pas **itérable**

Les seuls types **itérables** que nous connaissons sont : 
* tableau de type `list`
* chaînes de caractères de type `str`

In [8]:
for x in 2:
    print(x)

TypeError: ignored

In [9]:
for x in range(2) :
    print(x)

0
1