<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/CORRECTION/EXERCICE2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 2

Modifier la définition de la fonction `somme(t)` donnée dans la cellule suivante, pour que cette fonction renvoie la somme des valeurs contenues dans le tableau t.

In [6]:
def somme(t):
    total = 0
    for v in t : 
        total += v # total = v+total 
        print(v, total)
    return total

In [7]:
somme([10,20,30,40, 50])

10 10
20 30
30 60
40 100
50 150

150

On pourra tester cette fonction en exécutant

`>>> somme( [10,20,30,40] )`

qui doit renvoyer `100`