<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/CORRECTION/EXERCICE5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 5

#### question 1

Ecrire un programme qui crée un tableau `tab` de 20 lignes et 20 colonnes, contenant des entiers choisis au hasard entre 0 et 1000.

On rappelle que, dans le module `random`, `random.randint(a,b)` renvoie un entier aléatoire entre a (inclus) et b (inclus).

[cours du CHAP1 sur l'importation d'un module](https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap01/IntroPython.ipynb#scrollTo=GPvOX3mlSyvP)

solution

In [1]:
from random import randint
tab = [ [randint(0,1000) for j in range(20) ] for i in range(20) ]

Brouillon

In [8]:
print([randint(0,1000) for j in range(20) ])

[790, 657, 610, 652, 514, 702, 726, 128, 479, 607, 961, 90, 101, 702, 924, 109, 785, 845, 478, 118]

In [9]:
print([ [randint(0,1000) for j in range(20) ] ])

[[132, 668, 612, 192, 881, 286, 26, 866, 355, 744, 476, 328, 625, 339, 659, 178, 380, 223, 769, 477]]

In [13]:
t =  [ [randint(0,1000) for j in range(10) ] for i in range(4) ]

In [14]:
t

[[51, 614, 451, 34, 931, 592, 188, 775, 541, 636],
 [715, 346, 152, 165, 513, 274, 351, 59, 694, 481],
 [406, 872, 866, 728, 800, 471, 468, 889, 716, 465],
 [939, 911, 729, 979, 37, 368, 197, 644, 580, 633]]

#### question 2

Ajouter les instructions qui permettent de calculer dans la variable `v_max` le  **maximum** des valeurs contenues dans le tableau `tab`.

In [19]:
from random import randint
tab = [ [randint(0,1000) for j in range(20) ] for i in range(20) ]

v_max = 0
for i in range(20): # i : indice de ligne entre 0 et 19
    for j in range(20) : # j : indice de colonne entre 0 et 19
        if tab[i][j] > v_max :
            v_max = tab[i][j]
print(v_max)

998

Remarque : pour un tableau avec **5** lignes et **10** colonnes, on a :

In [20]:
from random import randint
tab = [ [randint(0,1000) for j in range(10) ] for i in range(5) ]

v_max = 0
for i in range(5): # i : indice de ligne entre 0 et 19
    for j in range(10) : # j : indice de colonne entre 0 et 19
        if tab[i][j] > v_max :
            v_max = tab[i][j]
print(v_max)

972

#### question 3

comment modifier le code ci-dessus dans le cas où les valeurs du tableau tab ne sont pas forcément positives?

=> il est pertinent d'initialiser `v_max` avec la première valeur du tableau tab !

`v_max = tab[0][0]`

In [26]:
from random import randint
tab = [ [randint(-1000,-100) for j in range(20) ] for i in range(20) ]

v_max = tab[0][0] # première valeur du tableau 
for i in range(20): # i : indice de ligne entre 0 et 19
    for j in range(20) : # j : indice de colonne entre 0 et 19
        if tab[i][j] > v_max :
            v_max = tab[i][j]
print(v_max)

-104