<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap05/COURS_Tableaux.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Situation étudiée

La "pyramide des âges" est un résumé statistique d'une population. 

Pour chaque classe d'âge (en général année par année) elle donne l'effectif correspondant.

Pour stocker l'information contenue dans la pyramide des âges, on pourrait utiliser une variable pour chaque classe d'âge.

In [ ]:
age0 = 691165 # moins de 1 an
age1 = 710534 # de 1 an (inclus) à 2 ans (exclu)
age2 = 728579 # de 2 an (inclus) à 3 ans (exclu)
age3 = 749270 # etc...

### avantage
* simplicité

### inconvénients
* pénible à utiliser dans un programme


    n = int(input('Entrer un âge : '))
    ... 
    print('nombre de personne de cet âge', resultat)

In [ ]:
n = int(input('Entrer un âge : '))
if n == 0 :
    resultat = age0
elif n ==1 :
    resultat = age1
elif n == 2 :
    resultat = age2
else:
    resultat = age3
print('nombre de personne de cet âge', resultat)

Pour éviter de manipuler un trop grand nombre de variables du même type, on peut utiliser `une seule variable` qui contiendra toutes les valeurs : c'est l'intérêt de la notion de tableau !

# Notion de tableau

In [ ]:
t = [10,20,30]
print(type(t))

<class 'list'>

* En python, un tableau est une variable de type `list`.
* syntaxe d'un tableau: ** `[  ,  ,  ]`**
* entre **crochets**, les différentes valeurs du tableau sont séparées par des **virgules**.
* la fonction **`len`** renvoie la longueur du tableau

In [ ]:
len(t)

## accéder à une cellule

In [ ]:
t[1]

In [ ]:
t[2]

Pour accéder à une valeur contenue dans un tableau, on utilise la syntaxe `t[i]` où
* `t` est le tableau
* `i` est un nombre entier compris entre `0` et `len(t)-1` inclus

A RETENIR : `t[i]` désigne une cellule de tableau `t` à condition que :

$0 \leq \textsf{i} \leq \textsf{len(t)}-1 < \textsf{len(t)}$

### cas particulier : indices négatifs

In [ ]:
t[-1]

In [ ]:
t[-2]

In [ ]:
t[-3]

## exemple de la pyramide des âges

In [ ]:
p_a = [691165, 710534, 728579, 749270, 763228, 782484, 792558, 813001, 808393, 813680, 807548, 822302, 802674, 800480, 796320, 800560, 816021, 828193, 785471, 775524, 750885, 751084, 734838, 705808, 698780, 732693, 742199, 758458, 763258, 774435, 778738, 793507, 794025, 789604, 781093, 829365, 837426, 849108, 804184, 788264, 794640, 773344, 793019, 836502, 885498, 903921, 897885, 881680, 868783, 860664, 856564, 873805, 875149, 884018, 874390, 842410, 844453, 840074, 833430, 813824, 809540, 801271, 790864, 788149, 769877, 780203, 760764, 788609, 771267, 763386, 746205, 703078, 526166, 510477, 493523, 452195, 399640, 410887, 424148, 410734, 394185, 385845, 365057, 356869, 327225, 319458, 290749, 268489, 227255, 201758, 171893, 147011, 123524, 98697, 78283, 61359, 46186, 34225, 14599, 8401, 5174, 3135, 2297, 2281, 1208, 2160]

In [ ]:
n = int(input('Entrer un âge : '))
resultat = p_a[n]
print('nombre de personne de cet âge', resultat)

A RETENIR 

`t[i] = VALEUR` permet d'écrire `VALEUR` à l'indice `i` d'un tableau `t` à condition que `i` soit compris entre `0` et `len(t)-1` inclus

## modifier la valeur contenue dans une cellule

In [ ]:
t = [10,20,30,40,50]
t[2] = 100
print(t)

In [ ]:
t[0] = t [0] + 1

In [ ]:
t[0] = t[0 + 1]

# Parcourir un tableau

In [ ]:
t = [50,20,70,90,30]
for i in range(5):
    v = t[i]
    print(v)
print('END')

50
20
70
90
30
END

Il est simple de parcourir toutes les valeurs d'un tableau avec une boucle `for`

Python permet de parcourir tous les indices d'un tableau avec la syntaxe :

    for i in range(len(t)):
        v = t[i]

Dans ce code, la variable v prendra successivement toutes les valeurs contenues dans le tableau t (depuis l'indice `0` jusqu'à l'indice `len(t)-1`)

Exemple, dans le cas de la pyramide des âges.

In [ ]:
n = 0
for i in range (len(p_a)):
    n = n + p_a[i]
print(n)

Que représente la valeur affichée par ce programme ?

# Construire de grands tableaux

In [ ]:
tab = [0] * 10
print(tab)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
tab2 = [1,2,3] * 5
print(tab2)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
tab3 = [1,2,3] + [4,5,6]
print(tab3)

[1, 2, 3, 4, 5, 6]

## Attention !

 `+` et `*` définissent aussi des opérations sur les tableaux.
 * `+` permet de concaténer deux tableaux (c'est à dire de les mettre bout à bout
 * `*` permet de "répéter le même tableau" un nombre entier de fois.

 AVANTAGE
 * cela permet de définir de grands tableaux facilement

 INCONVÉNIENT
 * il ne faut pas confondre les opérations sur les tableaux avec les opérations sur les nombres, qui utilisent les même symboles !

### tableaux et chaînes de caractères

Les chaînes de caractères ont le type `str` en python.

In [ ]:
s = 'ABCDE'

In [ ]:
len(s)

In [ ]:
s[0]

In [ ]:
s[4]

In [ ]:
for i in range(len(s)) :
    print(s[i])

Le type  `str` présente certaines similitudes avec les tableaux.
* la fonction `len` renvoie la **longueur** d'une chaîne de caractères.
* on peut accéder à un caractère d'une chaine `s` avec la syntaxe **`s[i]`** avec `i` un indice compris entre `0` et `len(t)-1`.
* on peut parcourir tous les caractères d'une chaîne avec une boucle `for`
* mais...

In [ ]:
s[2] = 'Z'

TypeError: ignored

A la différence d'un tableau, on ne peut **pas modifier** un caractère d'une chaîne. On dit que le type `str` est **immuable** en Python.

# Tableaux en mémoire

Observer l'exécution des commandes suivantes :

In [ ]:
t1 = [10,20,30]
print('t1=', t1)
t2 = t1
print('t2=', t2)
t2[0] = 1000
print('t2=', t2)
print('t1=', t1)

Comparer avec :

In [ ]:
t1 = [10,20,30]
print('t1=', t1)
t2 = [10,20,30]
print('t2=', t2)
t2[0] = 1000
print('t2=', t2)
print('t1=', t1)

Dans le cas où t2 est défini par la commande  `t2 = t1`
Une modification sur l'un des deux tableaux modifie en fait les deux tableaux.

In [ ]:
t1 = [10,20,30]
t2 = t1
t3 = [10,20,30]
t2[0] = 1000
print(t1[0], t2[0], t3[0])

Visualiser l'exécution du code ci-dessus sur [PythonTutor](http://www.pythontutor.com/visualize.html#code=t1%20%3D%20%5B10,20,30%5D%0At2%20%3D%20t1%0At3%20%3D%20%5B10,20,30%5D%0At2%5B0%5D%20%3D%201000%0Aprint%28t1%5B0%5D,%20t2%5B0%5D,%20t3%5B0%5D%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)

## pour copier un tableau et définir un **nouveau** tableau

on pourra utiliser la syntaxe suivante : `t2 = t1[:]`

In [ ]:
t1 = [10,20,30]
print('t1=', t1)
t2 = t1[:]
print('t2=', t2)
t2[0] = 1000
print('t2=', t2)
print('t1=', t1)