<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap12/CORRECTION/ACTIVITE_trier_un_tableau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objectif

Dans cet activité, on va chercher à trier un tableau "en place" : cela signifie qu'on va modifier le contenu du tableau afin de le trier.

On utilise pour cela la fonction `echange(t,i,j)` définie ci-dessous

In [14]:
def echange(t, i, j):
    tmp = t[i]
    t[i] = t[j]
    t[j] = tmp
    return t

1. Effectuer le suivi des variables lorsqu'on exécute `echange([50,40,30,20],1,2)`
2. Expliquer l'effet produit par `echange(t, i, j)`
   * dans le tableau t, la valeur d'indice `i` et la valeur d'indice `j` sont échangées.
3. Utiliser autant de fois que nécessaire cette fonction échange pour trier le tableau `tab= [50,10,40,30]` en complétant le programme ci-dessous

In [ ]:
tab= [50,10,40,30,0,60,20]
echange(tab,0,4)
echange(tab,2,6)
echange(tab,6,4)
echange(tab,5,6)

[0, 10, 20, 30, 40, 50, 60]

#### Remarque : Echange en Python
Python permet de faire simplement l'échange entre deux variables, avec la notion de tuple comme le montre l'exemple suivant

In [ ]:
a, b = 5, 7
print(a)
print(b)

5
7

In [ ]:
a,b = b,a 
print(a)
print(b)

7
5

L'instruction `echange(t,i,j)`  peut aussi s'écrire en Python : 
`t[i], t[j] = t[j], t[i]`

# Exercice 1
Ecrire une fonction `indice_du_minimum(t,i)` qui renvoie l'indice de la plus petite valeur contenue dans le tableau `t[i:]`.

On suppose que `t` n'est pas vide, et que `i` est un indice valide pour le tableau `t` (donc `i < len(t)` )

In [12]:
def indice_du_minimum(t,i):
    i_min = i
    for k in range(i, len(t)):
        if t[i_min] > t[k] :
            i_min = k
    return i_min

Pour **tester** cette fonction, on pourra utiliser les assertions suivantes

In [13]:
assert indice_du_minimum([60,10,20,50,30,40],0)==1
assert indice_du_minimum([60,10,20,50,30,40],1)==1
assert indice_du_minimum([60,10,20,50,30,40],2)==2
assert indice_du_minimum([60,10,20,50,30,40],3)==4
assert indice_du_minimum([60,10,20,50,30,40],5)==5

# Exercice 2
En utilisant l'exercice 1, proposer une fonction `tri(t)` qui permet de trier le tableau t en appelant la fonction echange de manière pertinente.

Principe : 
on va parcourir le tableau t avec une boucle `for`

* la valeur minimale du tableau `t` sera placée à l'indice 0
* ensuite, la valeur minimale de `t[1:len(t)]` sera placée à l'indice 1
* etc...
* à chaque étape, la valeur minimale du tableau `t[i:len(t)]` sera placée à l'indice `i`.

In [ ]:
def tri(t):
    for i in range(len(t)):
        i_min = indice_du_minimum(t,i)
        echange(t, i, i_min)
    return t

In [ ]:
tri([30, 10, 20, 40])

[10, 20, 30, 40]

# Lien utile : [visualiser plusieurs méthodes de tri sur un tableau](https://interstices.info/les-algorithmes-de-tri/)