<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap07/CORRECTION_Exo3_motif2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objectif : pour n = 4 on doit obtenir :

    Entrer un nombre entier positif : 4
    0 1 2 3 
    0 1 2 
    0 1 
    0

#### Brouillon 1

In [1]:
n = int(input("Entrer n :"))
for i in range(n):
    print(i)

Entrer n :4
0
1
2
3

Par rapport Ã  l'objectif : 

    0 1 2 3 
    0 1 2 
    0 1 
    0

* lorsque i = 0, on doit afficher 4 valeurs
* lorsque i = 1, on doit afficher 3 valeurs
* lorsque i = 2, on doit afficher 2 valeurs
* lorsque i = 3, on doit afficher 1 valeurs

#### Brouillon 2

In [9]:
i = int(input('i = '))
for x in range(4-i):
    print(x, end = ' ')

i = 3
0

## SOLUTION

In [10]:
n = int(input('Entrer un nombre entier positif : '))
for i in range(n):
    for x in range(n - i):
        print(x, end=' ')
    print()

Entrer un nombre entier positif : 4
0 1 2 3
0 1 2
0 1
0