<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap12/COURS_Trier_un_tableau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trier un tableau

Dans ce chapitre, on va travailler avec des tableaux de dimension 1 (type list en Python), contenant des valeurs comparables entre elles.
* soit des tableaux de valeurs numériques (`int` ou `float`)
* soit des tableaux de chaînes de caractères (`str`)

On rappelle qu'en Python : `'A' < 'B'` est évalué à `True`

In [1]:
'A'<'B'

True

In [2]:
'a'<'B'

False

In [3]:
'ABC' < 'AS'

True

Trier un tableau **en place** consiste à modifier les cellules du tableau afin d'obtenir à la fin un tableau **trié**. 

Dans tout le chapitre, on triera les tableaux par ordre **croissant**.

Pour le type `str`, l'ordre croissant correspond le plus souvent à l'ordre **alphabétique** (attention cependant à la casse : majuscule/minuscule, et aux caractères accentués).

#### On a déjà écrit une fonction qui permet de **tester si un tableau est trié** :

In [4]:
def est_croissant(t):
    ''' t est un tableau dont les valeurs sont toutes comparables entre elles
    la fonction renvoie True si t est trié par ordre croissant, et False sinon'''
    
    for i in range(len(t)-1):
        if t[i] > t[i+1]: # deux valeurs sont "mal rangées"
            return False
    return True

In [5]:
est_croissant( [10,20,30] )

True

In [6]:
est_croissant( ['A','B','C'] )

True

In [7]:
est_croissant( ['a','B','C'])

False

#### rappel : slice (tranche) extrait d'un tableau

On utilisera ces notations pour justifier la correction du programme.

In [16]:
t = [0,11,22,33,44,55,66,77]

In [17]:
t[0]

0

In [18]:
t[6]

66

In [19]:
t[2:4]

[22, 33]

In [20]:
t[3:len(t)]

[33, 44, 55, 66, 77]

In [21]:
t[0:3]

[0, 11, 22]

In [22]:
t[4:]

[44, 55, 66, 77]

In [23]:
t[:4]

[0, 11, 22, 33]

# Tri par sélection

Principe du tri par sélection d'un tableau t.

on parcourt le tableau t avec une boucle `for`

* la valeur minimale du tableau `t` sera placée à l'indice 0
* ensuite, la valeur minimale de `t[1:len(t)]` sera placée à l'indice 1
* etc...
* à chaque étape, la valeur minimale du tableau `t[i:len(t)]` sera placée à l'indice `i`.

```
  t = [ éléments triés  | éléments plus grands non encore triés ]
indice 0   ...            i 
```

In [24]:
def tri_par_selection(t):
    for i in range(len(t)):
        i_min = i # recherche de l'indice du minimum du tableau t[i:len(t)]
        for k in range(i, len(t)):
            if t[i_min] > t[k] :
                i_min = k
        t[i], t[i_min] = t[i_min], t[i] # échange des valeurs d'indice i et i_min dans le tableau t
    return t

Quelques essais

In [25]:
tri_par_selection( [20,50,30,40,60,10] )

[10, 20, 30, 40, 50, 60]

## [Activité](https://github.com/thfruchart/1nsi-2020/blob/master/Chap12/Tri_par_selection_Activit%C3%A9.pdf)

## Invariants de boucle

### boucle sur k

In [ ]:
def tri_par_selection(t):
    for i in range(len(t)-1):
        i_min = i 
        for k in range(i+1, len(t)):
            # i_min est l'indice du minimum du tableau t[i:k] entre les indices i (inclus) et k (exclu)
            if t[i_min] > t[k] :
                i_min = k
            # i_min est l'indice du minimum du tableau t[i:k+1] entre les indices i (inclus) et k (inclu)
        t[i], t[i_min] = t[i_min], t[i] 
    return t

### boucle sur i

In [ ]:
def tri_par_selection(t):
    for i in range(len(t)-1): 
        # t[0:i] est trié et ses valeurs sont inférieurs ou égales à celles de t[i:]
        i_min = i 
        for k in range(i+1, len(t)):
            if t[i_min] > t[k] :
                i_min = k
        t[i], t[i_min] = t[i_min], t[i] 
    return t

## Complexité