<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/CORRECTION_EXERCICE4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### brouillon 0

In [1]:
def doublon(t):
    return False

pour tester la fonction doublon, on pourra écrire :

In [2]:
doublon([10,20,30,40]) # doit renvoyer False

False

In [3]:
doublon([10,10,30,40]) # doit renvoyer True

False

Pour tester si une valeur apparaît deux fois dans le tableau, on peut : 
* parcourir toutes les valeurs `v` du tableau avec une boucle `for`
* chercher si la valeur v apparaît une deuxième fois dans le tableau...

#### brouillon 1

In [7]:
def doublon(t):
    for i in range(len(t)):
        v = t[i]
        print('i=',i,'v=', v)
    return False

doublon([10,20,30,40,50])

i= 0 v= 10
i= 1 v= 20
i= 2 v= 30
i= 3 v= 40
i= 4 v= 50

False

     [10,20,30,40,50]
    i= 0  1  2  3  4

#### brouillon 2

In [13]:
def doublon(t) :
    for u in range(len(t)) :
        a=t[u]
        for i in range(len(t)):
            v=t[i]
            if a==v :
                print('u=',u, 'i=',i, 'a=',a, 'v=',v)
                return True
    return False

In [9]:
doublon([ 10,10,30,40])

True

In [14]:
doublon([ 10,20,30,40])

u= 0 i= 0 a= 10 v= 10

True

un **doublon** est une valeur qui figure dans le tableau à deux **indices différents**

In [15]:
def doublon(t) :
    for u in range(len(t)) :
        a=t[u]
        for i in range(len(t)):
            v=t[i]
            print('a=', a, 'v=', v)
doublon([ 10,20,30,40])

a= 10 v= 10
a= 10 v= 20
a= 10 v= 30
a= 10 v= 40
a= 20 v= 10
a= 20 v= 20
a= 20 v= 30
a= 20 v= 40
a= 30 v= 10
a= 30 v= 20
a= 30 v= 30
a= 30 v= 40
a= 40 v= 10
a= 40 v= 20
a= 40 v= 30
a= 40 v= 40

### Solution

In [23]:
def doublon(t) :
    for i in range(len(t)) :
        print('i = ', i)
        for j in range(len(t)):
            print('   j =',j)
            if t[j]==t[i] and i!=j:
                return True
    return False

In [24]:
doublon([10,20,10])

i =  0
   j = 0
   j = 1
   j = 2

True

In [25]:
doublon([10,20,30])

i =  0
   j = 0
   j = 1
   j = 2
i =  1
   j = 0
   j = 1
   j = 2
i =  2
   j = 0
   j = 1
   j = 2

False