<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/COURS_Tableaux_avanc%C3%A9s.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Itérer sur les éléments d'un tableau

### Quel sera l'effet du code suivant ?

In [ ]:
t = [10, 20, 30, 40]

for i in range(len(t)):
    e = t[i]
    print(e)

### Comparer avec le code :

In [ ]:
t = [10, 20, 30, 40]

for e in t :
    print(e)

Dans cet exemple, la variable e définie dans la boucle for prend successivement toutes la valeurs du tableau t. 

Dans ce cas, on n'a pas besoin de faire référence à l'indice de chaque valeur dans le tableau. 

On dit qu'on itère directement sur les éléments du tableau.

Remarque : ce fonctionnement est possible avec tous les **types itérables** de Python, en particulier les chaînes de caractère.

 Autrement dit : le type `str` est itérable de même que le type `list` est itérable

In [ ]:
for c in 'ABCDEF':
    print(c)

Cette construction est utile lorsqu'on a besoin de parcourir tous les éléments d'un tableau ou d'une chaîne de caractère, sans se préoccuper de leur indice.

# Construire un tableau par compréhension

On souhaite définir un tableau de longueur 21 contenant les entiers pairs de 0 à 40.

#### méthode 1 : lister tous les éléments

In [ ]:
t = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

#### méthode 2 : créer un tableau de longueur 21, puis le remplir avec les valeurs correctes

In [ ]:
t = [0] * 21
for i in range(21):
    t[i] = 2*i
print(t)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

#### méthode 3 : définir le tableau **par compréhension**

In [ ]:
t = [ 2*i for i in range(21)]
print(t)

#### Syntaxe

* ` [ ` marque le début du tableau
* `2*i` est l'expression qui définit la valeur de la cellule en fonction de i
* `for i in range(21)` décrit les valeurs de i permettant de construire le tableau
* ` ] ` marque la fin du tableau

### Activité 1
Déterminer quel sera le contenu des tableaux ci-dessous, puis vérifier en exécutant la cellule qui affiche le tableau correspondant.

In [ ]:
a = [ 55 for i in range(4) ]
b = [ "X"+str(i)  for i in range(3) ]
c = [ i for i in range(2,6) ]
d = [ v*v for v in c ]

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

In [ ]:
print(d)

### Activité 2

#### Observer l'exécution des deux cellules suivantes :

In [ ]:
t = [ 'ABC', 'DEF', 'GHI']
print(t[1])

In [ ]:
print( t[1][2] )

le tableau `t` contient trois valeurs, indexées de 0 à 2 : 
* `t[0]` contient la chaîne `'ABC'`
* `t[1]` contient la chaîne `'DEF'`
* `t[2]` contient la chaîne `'GHI'`

L'expression `t[1][2]` fait donc référence à la valeur d'indice 2 dans `t[1]` : 

Ceci revient à évaluer `'DEF'[2]`, ce qui donne `'F'`

#### Estimer la valeur qui sera affichée dans chacun des cas suivants, puis vérifier en exécutant la cellule.

In [ ]:
t = [ 'AZERT', 'QSDFG', 'WXCVB' ]
print(t[0][0])

In [ ]:
t = [ 'AZERT', 'QSDFG', 'WXCVB' ]
print(t[1][1])

In [ ]:
t = [ 'AZERT', 'QSDFG', 'WXCVB' ]
print(t[2][2])

#### quelles valeurs faut-il donner à `i` et à `j` pour que le programme suivant affiche `T` ?

In [ ]:
t = [ 'AZERT', 'QSDFG', 'WXCVB' ]
i = int(input("entrer i : "))
j = int(input("entrer j : "))
print(t[i][j])

# Tableaux à deux dimensions

En Python, on peut utiliser stocker un tableau à deux dimensions dans un "tableau de tableaux".

Voici un premier exemple :

In [ ]:
tab = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]

In [ ]:
tab[0]

In [ ]:
tab[1]

In [ ]:
tab[2]

On accède à chacune des valeurs entières contenues dans le tableau avec une syntaxe de la forme `tab[i][j]`
Dans l'exemple, ci-dessus :
* i est un indice compris entre 0 et 2
* j est un indice compris entre 0 et 3

In [ ]:
tab[0][0]

In [ ]:
tab[2][3]

Remarque : Python permet d'écrire le contenu d'un tableau sur plusieurs lignes. Les deux instructions suivantes sont donc équivalentes.



```
tab = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
```
revient au même que :


```
tab = [ [1,2,3,4], 
        [5,6,7,8], 
        [9,10,11,12] ]
```

In [ ]:
tab = [[1, 2, 3, 4], # i = 0
       [5, 6, 7, 8], # i = 1
       [9,10,11,12]] # i = 2
# j =   0  1  2  3

#### Application 
Déterminer la valeur de `i` et la valeur de 
`j` pour lesquelles le programme suivant affiche `7`

In [ ]:
tab = [[1,2,3],
       [4,5,6],
       [7,8,9]]
i = int(input('Entrer i : '))
j = int(input('Entrer j : '))
print(tab[i][j])

Déterminer la valeur de **`p`** et la valeur de **`k`** pour lesquelles le programme suivant affiche `7`

In [ ]:
tab = [[0, 1, 2, 3],
       [4, 5, 6, 7],
       [8, 9,10,11]]
p = int(input('Entrer p : '))
k = int(input('Entrer k : '))
print(tab[k][p])

## Tableaux de dimension 2 définis par compréhension

On peut définir par compréhension un tableau de dimension 2 avec la syntaxe : 

    [ [ expression_cellule_i_j  for j in range(nb_colonnes)] for i in range(nb_lignes) ]

Voir les exemples ci-dessous :

In [ ]:
t1 = [ 0 for j in range(3)]
print(t1)

[0, 0, 0]

In [ ]:
t2 = [ [0 for j in range(3)] for i in range(4) ]
print(t2)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]


    j=0  1  2  j=0  1  2  j=0  1  2  j=0  1  2
    [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
    i = 0       i = 1      i = 2      i = 3

Calculer "à la main" le contenu du tableau `tab`,  puis vérifier avec Python

In [ ]:
tab = [ [1+3*i+j for j in range(3)] for i in range(4)]

    ____________
    |   |   |   |  i = 0
    ____________
    |   |   |   |  i = 1
    ____________
    |   |   |   |  i = 2
    ____________
    |   |   |   |  i = 3
    ____________
    j=0 , 1 , 2

In [ ]:
print(tab)

# Quelques subtilités de python

Comparer l'exécution [sur python tutor](http://www.pythontutor.com/visualize.html#code=t%20%3D%20%5B%20%5B0%20for%20j%20in%20range%283%29%5D%20for%20i%20in%20range%282%29%5D%0Au%20%3D%20%5B%5B0%5D*3%5D%20*2%0A&cumulative=false&curInstr=19&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false) des deux cellules suivantes, puis expliquer la différence entre les deux résultats.

In [ ]:
t = [ [0 for j in range(3)] for i in range(2)]
u = [[0]*3] *2

print(t)
print(u)

[[0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 0, 0]]

In [ ]:
t[0][0] = 1
u[0][0] = 1

print(t)
print(u)

[[1, 0, 0], [0, 0, 0]]
[[1, 0, 0], [1, 0, 0]]