<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/EXERCICE4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 4

On donne le tableau t suivant :

In [7]:
t = [[0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 0],
     [0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], 
     [0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20], 
     [0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30], 
     [0,  4,  8, 12, 16, 20, 24, 28, 32, 36, 40], 
     [0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50], 
     [0,  6, 12, 18, 24, 30, 36, 42, 48, 54, 55], 
     [0,  7, 14, 21, 28, 35, 42, 49, 56, 63, 70], 
     [0,  8, 16, 24, 32, 40, 48, 56, 64, 72, 80], 
     [0,  9, 18, 27, 36, 45, 56, 63, 72, 81, 90], 
     [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

####  Déteminer la valeur de `i` et la valeur de `j` pour lesquelles le programme suivant affiche 49

In [ ]:
i = int(input('Entrer i : '))
j = int(input('Entrer j : '))
print(t[i][j])

####  Déteminer la valeur de `i` et la valeur de `j` pour lesquelles le programme suivant affiche 27

Y a-t-il plusieurs solutions ? Si oui, les donner toutes !

In [ ]:
i = int(input('Entrer i : '))
j = int(input('Entrer j : '))
print(t[i][j])

####  Le programme suivant se propose de vérifier que le tableau t contient bien une "table de multiplication"

Compléter le programme, puis l'exécuter pour déterminer les deux cellules qui contiennent une valeur incorrecte.

In [8]:
for i in range(11) :
    for j in range(11) :
        if t[i][j]  != i*j:
            print('erreur')

erreur
erreur

####  Plutôt que de corriger une par une les cellules incorrectes, on décide de définir directement le tableau t par compréhension

Compléter le code ci-dessous pour que t contienne une table de multiplication correcte pour les entiers compris entre 0 et 10 inclus.

In [ ]:
t = [ [ ] ]