<a href="https://colab.research.google.com/github/thfruchart/1nsi-2020/blob/master/Chap08/EXERCICE6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 6

## Ranger en 8 colonnes

On donne le tableau `t_32` défini par :

In [2]:
t_32 = [50, 102, 165, 114, 47, 4, 41, 198, 114, 182, 43, 186, 20, 106, 7, 110, 113, 28, 199, 129, 126, 144, 67, 165, 183, 130, 90, 39, 182, 194, 106, 90]

In [3]:
len(t)

32

Le tableau `t_4_8` est défini par :

In [4]:
t_4_8 = [ [ 0 for j in range(8)] for i in range (4)]

Quelles sont les dimensions de t_4_8 : 

* nombre de lignes
* nombre de colonnes

Ecrire un programme qui recopie dans t_4_8 les 32 valeurs du tableau t_32 de sorte que : 

* les 8 premières valeurs de `t_32` forment la première ligne de `t_4_8`
* les 8 valeurs suivantes forment la deuxième ligne
* et ainsi de suite...

Il y a deux méthodes possibles :

In [ ]:
for i in range(4) :
    for j in range(8):
        # A compléter

In [ ]:
for k in range(32) :
    # A compléter